<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    
</style>
<body>
    <p>user name : <%=user.username%></p>
    <p>email : <%=user.email%></p>
    <p>role : <%=user.role%></p>
    <button id="update-info">Update Info</button>

    <form  id="form" style="display: none;" action="/profile/<%=user._id%>?_method=PUT" method="post">
        <label for="username">user name</label>
        <br><br>
        <input type="text" name="username" value="<%=user.username%>">
        <label for="email">email</label>
        <br><br>
        <input type="email" name="email" value="<%=user.email%>">
        <input type="submit" value="submit">
    </form>
    <script>
        let updateInfoButton=document.getElementById("update-info");
        let form=document.getElementById("form")
        updateInfoButton.addEventListener("click",(event)=>{
            form.style.removeProperty("display");
        });
        
    </script>
</body>

</html>