<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remo</title>
    </head>

    <body>

        <h1>Welcome to our remo 🗃 cafe 🗃 </h1>
        <form action=" /signOut" method="POST">
            <input type="submit" value="sign out">
        </form>

        <a href="/profile/<%=userId %>">
            <h3>Profile</h3>
        </a>

        <form action="/tables/<%= userId%>/<%= tableId%>" method="GET">
            <select name="topic" id="topic" required>
                <option value="">Select the Topic</option>
                <option value="javascript">javaScript</option>
                <option value="node">Node</option>
                <option value="react">React</option>
            </select>
            <select name="role" id="role" required>
                <option value="">Select Your Role</option>
                <option value="interviewer">interviewer</option>
                <option value="interviewee">interviewee</option>
            </select>
            <select name="difficulty" id="role" required>
                <option value="">Select Your Level</option>
                <option value="beginner">Junior developer</option>
                <option value="intermidate">Mid-level developer</option>
                <option value="advance">Senior developer</option>
            </select>
            <input type="submit" value="get a table">
        </form>

        <form action="/tables/<%= userId%>/<%= tableId%>" method="POST">
            <label for="tableId">If you have a table Id</label>
            <input type="text" value="" name="tableId" placeholder="your table Id" required>
            <input type="submit" value="go to your table">
        </form>



    </body>

</html>
